<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Readme</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .tests{
            color: green;
            font-size: 150%;
        }
    </style>
</head>
<body>
<div id="app">
    <header>
        <h2>Инструкция по настройке PWA</h2>
    </header>
    <main class="container">
        <div id="creditals">
            <h4>Учетные данные</h4>
            <p>
                Пароль: <input type="text" v-model="pass"><br>
                E-Mail: <input type="text" v-model="mail"><br>
            </p>
            <h5>vps</h5>
            <p>
                ip: <input type="text" v-model="vpsIp"><br>
                пароль: <input type="text" v-model="vpsPass"><br>
            </p>
            <h5>Домен</h5>
            <p>
                основной домен: <input type="text" v-model="domain"><br>
                поддомены: <input type="text" v-model="subdomains"><br>
            </p>
            <h5>Pusher</h5>
            <p>
                PUSHER_APP_ID: <input type="text" v-model="pusherId"><br>
                PUSHER_APP_KEY: <input type="text" v-model="pusherKey"><br>
                PUSHER_APP_SECRET: <input type="text" v-model="pusherSecret"><br>
                PUSHER_APP_CLUSTER: <input type="text" v-model="pusherCl"><br>
            </p>
        </div>
        <div id="registration">
            <h4>Регистрация</h4>
            <h5>cp.vdsina.ru/vds</h5>
            <p>
                без авто резервной копии <br>
                apt update -y <br>
                apt upgrade -y <br>
                apt install apache2 -y <br>
                <span class="tests">проверяем - ip в браузер, должна открыться страница apache</span> <br>
            </p>
            <h5>temp-mail.org</h5>
            <p>
                12 месяцев, zip 1073**, заполняем все <br>
                входим, service > my domains > freedom dns <br>
                добавляем поддомены backend frontend s1 s2 s3 <br>
            </p>
            <h5>pusher.com</h5>
            <p>
                Channels <br>
                название my-channel <br>
                App Settings > Enable client events <br>
            </p>
        </div>
        <div id="server-setup">
            <h4>Настройка сервера</h4>
            <h5>ssh</h5>
            <p>
                nano /etc/ssh/sshd_config <br>
            </p>
            <hr>
            <p>
                TCPKeepAlive no <br>
                ClientAliveInterval 36000 <br>
                ClientAliveCountMax 3 <br>
            </p>
            <hr>
            <p>
                service ssh restart <br>
                service sshd restart <br>
            </p>
            <h5>Пакеты</h5>
            <p>
                apt install php -y <br>
                apt install zip unzip -y <br>
                apt install php-mysql -y <br>
                apt install php-mbstring -y <br>
                apt install php-tokenizer -y <br>
                apt install php-xml -y <br>
                apt install php-json -y <br>
                apt install php-common -y <br>
                apt install php-gd -y <br>
                apt install php-zip -y <br>
                apt install php-cli -y <br>
                apt install php-curl -y <br>
                apt install php-intl -y <br>
                apt install php-bcmath -y <br>
                apt install php-imap -y <br>
                apt install php-tokenizer -y <br>
                apt install php-curl -y <br>
                apt install mysql-server -y <br>
                apt install nodejs -y <br>
                apt install npm -y <br>
                apt install certbot python3-certbot-apache -y <br>
                apt install composer -y <br>
            </p>

            <h5>Swap</h5>
            <p>
                free -m <br>
                mkdir -p /var/_swap_ <br>
                cd /var/_swap_ <br>
                dd if=/dev/zero of=swapfile bs=1M count=2000 <br>
                mkswap swapfile <br>
                swapon swapfile <br>
                chmod 600 swapfile <br>
                echo "/var/_swap_/swapfile none swap sw 0 0" >> /etc/fstab <br>
                free -m <br>
            </p>

            <h5>Подключаемся через sshfs</h5>
            <p>
                В консоли windows<br>
                net use z: \\sshfs\root@{{domain}}\\\\<br>
                Вводим пользователя root<br>
                Вводим пароль {{vpsPass}}<br>
                Если нет sshfs, устанавливаем https://github.com/billziss-gh/winfsp/releases/tag/v1.7 и https://github.com/billziss-gh/sshfs-win/releases<br>
            </p>


            <h5>Настраиваем MySql</h5>
            <p>
                mysql_secure_installation <br>
                mysql <br>
                CREATE USER 's'@'localhost' IDENTIFIED BY '{{pass}}'; <br>
                GRANT ALL PRIVILEGES ON *.* TO 's'@'localhost' WITH GRANT OPTION; <br>
                FLUSH PRIVILEGES; <br>
                exit <br>
            </p>

            <h5>Настраиваем Apache2</h5>
            <p>
                a2enmod rewrite <br>
                nano /etc/apache2/sites-available/000-default.conf <br>
                добавляем в конец<br>
            </p>
            <hr>
            <p>
                &lt;Directory /var/www/html&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Options Indexes FollowSymLinks MultiViews<br>
                &nbsp;&nbsp;&nbsp;&nbsp;AllowOverride All<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Order allow,deny<br>
                &nbsp;&nbsp;&nbsp;&nbsp;allow from all<br>
                &lt;/Directory&gt;<br>
            </p>
            <hr>
            <p>
                service apache2 restart <br>
            </p>

            <h5>Поддомены Apache2</h5>
            <p>
                создаем в /var/www папки для поддоменов <span v-for="subdomain in fullSubdomains" :key="subdomain">{{subdomain}}&nbsp;</span> <br>
                в папках создаем index.html с именем поддомена <br>
                cd /var/www <br>
                chown -R www-data:www-data ./ <br><br>

                cp /etc/apache2/sites-available/000-default.conf /etc/apache2/sites-available/{{domain}}.conf<br>
                nano /etc/apache2/sites-available/{{domain}}.conf <br>
                ServerAlias {{domain}}  <br>
                a2ensite {{domain}} <br><br>

                <span v-for="subdomain in fullSubdomains" :key="subdomain">
                    cp /etc/apache2/sites-available/000-default.conf /etc/apache2/sites-available/{{subdomain}}.conf<br>
                    nano /etc/apache2/sites-available/{{subdomain}}.conf <br>
                    Изменяем DocumentRoot /var/www/{{subdomain}}  <br>
                    ServerAlias {{subdomain}}  <br>
                    a2ensite {{subdomain}} <br><br>
                </span>
                service apache2 restart <br>
                mv /etc/apache2/sites-available/000-default.conf /etc/apache2/sites-available/000-default.conf.old <br>
                <span class="tests">проверяем что все поддомены открываются по http</span> <br>
            </p>

            <h5>Настраиваем ssl</h5>
            <p>
                certbot --apache <br>
                вводим почту admin@{{domain}} <br>
                вводим домен и поддомены через пробел {{domain}}
                <span v-for="subdomain in fullSubdomains" :key="subdomain">{{subdomain}}&nbsp;</span> <br>
                systemctl status certbot.timer <br>
                <span class="tests">проверяем что все поддомены открываются по https</span> <br>
            </p>

            <h5>Настраиваем Laravel</h5>
            <p>
                cd <br>
                git clone https://github.com/slava554/pwa-blueprint.git <br>
                shopt -s dotglob nullglob <br>
                mv pwa-blueprint/backend/* /var/www/{{fullSubdomains[0]}}/ <br>
                cd /var/www/{{fullSubdomains[0]}}/ <br>
                cp .env.example .env <br>
                composer install <br>
                php artisan key:generate <br>
                nano .env <br>
            </p>
            <hr>
            <p>
                APP_NAME={{fullSubdomains[0]}} <br>
                APP_URL=https://{{fullSubdomains[0]}} <br>
                DB_PASSWORD={{pass}} <br>
                PUSHER_APP_ID={{pusherId}} <br>
                PUSHER_APP_KEY={{pusherKey}} <br>
                PUSHER_APP_SECRET={{pusherSecret}} <br>
                PUSHER_APP_CLUSTER={{pusherCl}} <br>
            </p>
            <hr>
            <p>
                chown -R www-data:www-data ./ <br>
                nano /etc/apache2/sites-available/{{fullSubdomains[0]}}-le-ssl.conf <br>
            </p>
            <hr>
            <p>
                дописываем public <br>
                после &lt;/VirtualHost&gt; <br>
                &lt;Directory /var/www/{{fullSubdomains[0]}}/public/&gt; <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Options Indexes FollowSymLinks <br>
                &nbsp;&nbsp;&nbsp;&nbsp;AllowOverride All <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Require all granted <br>
                &lt;/Directory&gt; <br>
            </p>
            <hr>
            <p>
                service apache2 restart <br>
                <span class="tests">проверяем что на {{fullSubdomains[0]}} открывается главная страница laravel</span> <br>
                переходим на backend.catboat.ml/pma.php <br>
                создаем базу backend <br>
                php artisan migrate <br>
                <span class="tests">проверяем {{fullSubdomains[0]}}/api/v1/t</span> <br>

            </p>


        </div>

    </main>
</div>
<script>
  const App = {
    data:()=>({
      pass: '',
      vpsPass: '',
      vpsIp: '',
      domain: '',
      mail: '',
      subdomains: '',
      pusherId: '',
      pusherKey: '',
      pusherSecret: '',
      pusherCl: '',

    }),

    computed: {
      fullSubdomains(){
        let subdomainsArrRez = [];
        let subdomainsArr = this.subdomains.split(' ');
        subdomainsArr.forEach( (el)=>{
          subdomainsArrRez.push( el.trim().replaceAll(',', '') + '.' + this.domain );
        } );
        return subdomainsArrRez;
      },
    },

    created(){
      window.addEventListener('beforeunload', ()=>{
        localStorage.setItem('pass', this.pass);
        localStorage.setItem('vpsPass', this.vpsPass);
        localStorage.setItem('vpsIp', this.vpsIp);
        localStorage.setItem('domain', this.domain);

        localStorage.setItem('mail', this.mail);
        localStorage.setItem('subdomains', this.subdomains);
        localStorage.setItem('pusherId', this.pusherId);
        localStorage.setItem('pusherKey', this.pusherKey);
        localStorage.setItem('pusherSecret', this.pusherSecret);
        localStorage.setItem('pusherCl', this.pusherCl);

      }, false);
      this.pass = localStorage.getItem('pass');
      this.vpsPass = localStorage.getItem('vpsPass');
      this.vpsIp = localStorage.getItem('vpsIp');
      this.domain = localStorage.getItem('domain');
      this.mail = localStorage.getItem('mail');
      this.subdomains = localStorage.getItem('subdomains');
      this.pusherId = localStorage.getItem('pusherId');
      this.pusherKey = localStorage.getItem('pusherKey');
      this.pusherSecret = localStorage.getItem('pusherSecret');
      this.pusherCl = localStorage.getItem('pusherCl');

      if(!this.pass){this.pass = '';}
      if(!this.vpsPass){this.vpsPass = '';}
      if(!this.vpsIp){this.vpsIp = '';}
      if(!this.domain){this.domain = '';}
      if(!this.mail){this.mail = '';}
      if(!this.subdomains){this.subdomains = '';}
      if(!this.pusherId){this.pusherId = '';}
      if(!this.pusherKey){this.pusherKey = '';}
      if(!this.pusherSecret){this.pusherSecret = '';}
      if(!this.pusherCl){this.pusherCl = '';}

    },


  };

  Vue.createApp(App).mount('#app')
</script>
</body>
</html>
